.section-1 {
    background-color: rgba(173, 216, 230, 0.20);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.section-2 {
    background-color: #e2a712a7;
    padding-top: 120px;
    padding-bottom: 80px;
}

.contact-form{
    padding: 40px;
    border: dashed 1.5px #383838;
    background-color: rgb(255, 255, 255);
    border-radius:15px;
    box-shadow: 2px 3px 3px 0px rgba(248, 248, 248, 0.877), 0px 3px 6px 0px rgba(255, 255, 255, 0.724);
}

@media (max-width: 768px) {
    .section-1 {
        background-image: none;
        padding-top: 10rem;
        padding-bottom: 2rem;
    }
    .contact-form{
        padding: 25px;
    }
}

.responsive-map{
    overflow: hidden;
    padding-bottom:76%;
    position:relative;
    height:0;
    }
    .responsive-map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }