
.container-f-inscription{
    background-color: rgba(173, 216, 230, 0.70);
    
}
.insscription-container{
    padding-top: 9rem;
    padding-bottom: 6rem;
}

@media (max-width: 768px) {
    .insscription-container{
      padding-bottom: 10rem;
      padding-bottom: 2rem;
    }
  }
.h2-pc{
    color: $primary-color;
}
.h3-pc{
    color: $secondary-color;
    font-weight: 600;
}
.p-bold-cntact{
    font-weight: 600;
    color: $secondary-color;
}
.red-star{
    color: red;
}

.form-inscription{
    padding: 40px;
    border: dashed 1.5px $secondary-color;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 3px 3px 0px rgba(248, 248, 248, 0.877), 0px 3px 6px 0px rgba(255, 255, 255, 0.724);
}

.img-ins{
    max-width: 85%;
    float: inline-end;
    
}
@media (max-width: 768px) {
    .img-ins{
        padding-top: 2rem;
        max-width: 100%;
        float: inline-start;
    }
    .nav-conx{
        display: block;
    }
    .nav-item-conx{
        padding: 0.2rem;
    }
    .form-inscription{
        padding:25px;
    }
  }
  .tab-button:focus{
    resize: 1.2;
  }