$primary-color: #1D838A;
$secondary-color: #E65A14;
$white-color: #ffffff;
$dark-color: #000000;
$input-color: #EEF1F4;
$text-color: #3a3a3a;
$searchbar-color: #ededed; 
$danger-color: #DB0B00;
$success-color: #0A8015;
$light-blue: #1dc9c6;
$yellow-logo-color: #E9AD10;
$footer-color: #1E1E1E;



