// btn primary regular
.button-primary-regular {
    width: 100%;
    color: $white-color;
    background-color: $primary-color;
    justify-content: center;
    padding: 5px; 
    border-radius: 5px;
    border: solid 2px $primary-color;
    align-items: center;
    font-weight: 600;
  }

  .button-primary-regular:hover {
    width: 100%;
    background-color: $white-color;
    color: $primary-color;
    font-weight: 600;
    border: solid 2px $primary-color;
  }
  .button-primary-regular:focus {
    width: 100%;
    background-color: $white-color;
    color: $primary-color;
    font-weight: 600;
    border: solid 2px $primary-color;
  }
  .button-primary-regular:hover i{
    color: $primary-color;
  }


  // btn primary pill
  .button-primary-pill {
    color: $white-color;
    background-color: $primary-color;
    justify-content: center;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    font-weight: 600;
    border: solid 2px $primary-color;
    align-items: center;
  }

  .button-primary-pill:hover i{
    color: $primary-color;
  }

  .button-primary-pill:hover {
    background-color: $white-color;
    color: $primary-color;
    font-weight: 600;
    border: solid 2px $primary-color;
  }
  
  .button-primary-pill:focus {
    background-color: $white-color;
    color: $primary-color;
    font-weight: 600;
    border: solid 2px $primary-color;
  }

  // btn primary regular
  .button-secondary-regular {
    width: 100%;
    color: $white-color;
    background-color: $secondary-color;
    justify-content: center;
    padding: 5px; 
    border-radius: 5px;
    border: solid 2px $secondary-color;
    align-items: center;
  }
  
  .button-secondary-regular:hover {
    width: 100%;
    background-color: $white-color;
    color: $secondary-color;
    font-weight: 600;
    border: solid 2px $secondary-color;
  }

  // btn secondary pill
  .button-secondary-pill {
    color: $white-color;
    background-color: $secondary-color;
    justify-content: center;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    font-weight: 600;
    border: solid 2px $secondary-color;
    align-items: center;
  }

  .button-secondary-pill:hover {
    background-color: $white-color;
    color: $secondary-color;
    font-weight: 600;
    border: solid 2px $secondary-color;
  }

  // button ouline primary color
  .button-primary-outline {
    color: $primary-color;
    background-color: $white-color;
    justify-content: center;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    font-weight: 600;
    border: solid 2px $primary-color;
    align-items: center;
  }

  .button-primary-outline:hover {
    width: 100%;
    background-color: $primary-color;
    color: $white-color;
    font-weight: 600;
    border: solid 2px $primary-color;
  }