<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Page de paramètres du compte utilisateur">
    <title>Paramètres</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../public/sass/main.css">
</head>
<body>
    <header> 
        <nav class="na">
            <input type="checkbox" id="burger-check">            
            <a href="index.html" id="link-logo"><img src="../public/img/logo_do4u.svg" alt="logo Do4U" class="logo"></a> 
            <button class="na__burger-menu" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop">
                    <span></span>
                    <span></span>
                    <span></span>
            </button>               
            <form class="na__form na__form--mobile">
                <div class="na__container_fields">
                    <input type="text" placeholder="chercher une annonce par mot-clé" aria-label="Rechercher une annonce" class="na__input">                    
                </div>
                <button class="na__search-glass" type="submit" aria-label="Rechercher"><i class="fa-solid fa-magnifying-glass"></i></button>                  
            </form> 
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasEndLabel">
                <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasEndLabel"><a href="index.html"><img src="../public/img/logo_do4u.svg" alt="logo Do4U" class="logo"></a></h2>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body small">
                    <ul class="na__list--mobile">
                        <li>
                            <button class="link-annonces bg-transparent border-0" role="button"  aria-haspopup="true" aria-expanded="false" aria-label="Afficher les catégories d'annonces">Annonces <i class="fa-solid fa-chevron-down"></i></button>   
                            <ul role="menuitem" class="p-0 na__dropdown na__dropdown_annonces">
                                <li><a href="ads.html">Ménage</a></li>
                                <li><a href="ads.html">Services à la personne</a></li>
                                <li><a href="ads.html">Rénovation & construction</a> </li>
                                <li><a href="ads.html">Jardinage & bricolage</a> </li>
                                <li><a href="ads.html">Réparation & maintenance</a></li> 
                                <li><a href="ads.html">Informatique & administratif</a> </li>
                                <li><a href="ads.html">Cours & coaching</a> </li>
                                <li><a href="ads.html">Santé & bien-être</a> </li>
                                <li><a href="ads.html">Evenements & divertissements</a> </li>
                                <li><a href="ads.html">Animaux</a> </li>
                                <li><a href="ads.html">Artisanat & création</a></li>
                                <li><a href="ads.html">Garde d'enfants</a> </li>
                                <li><a href="ads.html">Autre</a></li> 
                            </ul>
                        </li> 
                        <li>
                            <a href="creationAd.html" class="nav-link button-primary-pill"><i class="fa-solid fa-plus"></i> Créer une annonce</a>   
                        </li> 
                        <li>
                            <a href="contact.html" class="nav-link">Contact</a>   
                        </li> 
                        <li>
                            <a href="messenger.html" class="nav-link" aria-label="Consulter la messagerie"><i class="fa-solid fa-envelope"></i></a>   
                        </li> 
                        <li class="na__link_dropdown" id="dropdown-link-user">
                            <button class="border-0 bg-transparent user-link" role="button" aria-haspopup="true" aria-label="Ouvrir le sous-menu utilisateur"><i class="fa-solid fa-user"></i></button>
                            <ul class="na__dropdown na__dropdown_user" aria-label="Sous-menu utilisateur">
                                <li>
                                    <a href="myProfile.html">Mon profil</a>
                                </li>
                                <li>
                                    <a href="parameters.html">Paramètres</a>
                                </li>
                                <li>
                                    <a href="connexion.html">Déconnexion</a>
                                </li>
                            </ul>   
                        </li> 
                    </ul>   
                </div>
            </div>
            <ul class="na__list p-0">
                <li class="dropdown-link-annonces">
                    <button  class="bg-transparent border-0 link-annonces" aria-haspopup="true" aria-label="Ouvrir le sous-menu" aria-expanded="false">Annonces <i class="fa-solid fa-chevron-down"></i></button>   
                    <ul role="menuitem" class="na__dropdown na__dropdown_annonces">
                        <li><a href="ads.html">Ménage</a></li>
                        <li><a href="ads.html">Services à la personne</a></li>
                        <li><a href="ads.html">Rénovation & construction</a> </li>
                        <li><a href="ads.html">Jardinage & bricolage</a> </li>
                        <li><a href="ads.html">Réparation & maintenance</a></li> 
                        <li><a href="ads.html">Informatique & administratif</a> </li>
                        <li><a href="ads.html">Cours & coaching</a> </li>
                        <li><a href="ads.html">Santé & bien-être</a> </li>
                        <li><a href="ads.html">Evenements & divertissements</a> </li>
                        <li><a href="ads.html">Animaux</a> </li>
                        <li><a href="ads.html">Artisanat & création</a></li>
                        <li><a href="ads.html">Garde d'enfants</a> </li>
                        <li><a href="ads.html">Autre</a></li> 
                    </ul>
                </li> 
                <li>
                    <a href="creationAd.html" class="nav-link button-primary-pill"><i class="fa-solid fa-plus"></i> Créer une annonce</a>   
                </li> 
                <li>
                    <a href="contact.html" class="nav-link">Contact</a>   
                </li> 
                <li>
                    <a href="messenger.html" class="nav-link" aria-label="Consulter la messagerie"><i class="fa-solid fa-envelope"></i></a>   
                </li> 
                <li class="na__link_dropdown" id="dropdown-link-user">
                    <button class="border-0 nav-link user-link" aria-haspopup="true" aria-label="Ouvrir le sous-menu utilisateur" role="button"><i class="fa-solid fa-user"></i></button>
                    <ul class="na__dropdown na__dropdown_user" aria-label="Sous-menu utilisateur">
                        <li>
                            <a href="myProfile.html">Mon profil</a>
                        </li>
                        <li>
                            <a href="parameters.html">Paramètres</a>
                        </li>
                        <li>
                            <a href="connexion.html">Déconnexion</a>
                        </li>
                    </ul>   
                </li> 
            </ul>              
        </nav>          
    </header>
    <main id="main-parametres">
        <section>
            <div class="container-fluid bannerParametres">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <h1 id="title-parametres">Paramètres</h1>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="d-flex flex-lg-row gap-3 align-items-center" id="profile-block">
                            <div class="d-flex flex-column">
                                <div id="photo-parametres">
                                    <figure>
                                        <img src="../public/img/woman_face.jpg" alt="Photo d'un utilisateur">
                                    </figure>
                                </div>  
                                 
                            </div>
                            <h2>Lola</h2>
                        </div>
                    </div>
                </div>  
            </div>
        </section>
        <section class="container-fluid d-flex d-flex-column">
            <div class="container parametres-content">
                <div class="row ">
                    <div class="col-lg-3 col-12">
                        <div id="choose-photo">
                            <button type="button" class="btn btn-link" id="choose-photo">Choisir une photo</button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <form action="">
                            <div class="form-row mb-0">
                                <div class="col form-group">
                                    <label for="pseudo">Pseudo</label>
                                    <input type="text" class="form-control" id="pseudo" placeholder="lola_67" disabled>
                                </div>
                                <div class="col form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="lola_67@gmail.com" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center align-content-center">
                    <div class="col-lg-6 col-12">
                            <div class="form-parametres">
                                <form> 
                                    <div class="form-row mb-0">
                                        <div class="col form-group">
                                            <label for="nom">Nom</label>
                                            <input type="text" class="form-control" id="nom" placeholder="Dupont" disabled>
                                          </div>
                                          <div class="col form-group">
                                              <label for="prenom">Prénom</label>
                                              <input type="text" class="form-control" id="prenom" placeholder="Lola" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="adresse">Adresse (ville + code postal)</label>
                                        <input type="text" class="form-control" id="adresse" placeholder="Strasbourg">
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="bio">Bio</label>
                                        <div class="form-floating">
                                            <textarea class="form-control" id="bio">Sociale, à l’écoute, bienveillante et sérieuse, j’adore m’occuper des personnes âgées. Ayant déjà plusieurs expériences réussies dans le service à la personne, je suis une aliée de confiance. </textarea>
                                          </div>
                                      </div>
                                    <div class="line-divider mt-4"></div>
                                    <div class="mt-4">
                                      <a href="#" class="text-black">Changer mot de passe</a>
                                    </div>
                                    <div class="mt-4">
                                        <a href="#" class="text-danger">Supprimer mon compte</a>
                                    </div>
                                    <div class="form-row gap-3 mt-4">
                                        <button type="submit" class="btn btn-parametres">Annuler</button>
                                        <button type="submit" class="btn btn-parametres">Enregistrer</button>
                                    </div>
                                </form> 
                            </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer-element py-4 mt-5">
        <section class="container">
            <div class="row mb-4">
                <div class="col-12 col-lg-3 text-center text-lg-start mb-3 mb-lg-0">
                    <a href="" id="link-logo"><img src="../public/img/logo_do4u_footer.svg" alt="logo Do4U" class="footer-element__logo"></a> 
                    <p class="text-lg-start">Votre plateforme de choix de prestataires.</p>

                    <h3 class="text-center text-lg-start pb-3">Retrouvez-nous sur</h3>
                    <ul class="footer-element__medias d-flex justify-content-evenly justify-content-lg-start gap-lg-5 ps-0">
                        <li class="d-flex justify-content-center align-items-center"><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li class="d-flex justify-content-center align-items-center"><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="d-flex justify-content-center align-items-center"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4 offset-lg-1">
                    <h3 class="text-center text-lg-start footer-element__categories">Catégories &nbsp;<i class="fa-solid fa-caret-down"></i></h3>
                    <div class="flex-lg-column d-lg-flex text-center flex-lg-row text-lg-start gap-lg-3 footer-element__dropdown">
                        <ul class="ps-0">
                            <li class=""><a href="">Ménage</a></li>
                            <li><a href="">Services à la personne</a></li>
                            <li><a href="">Rénovation & construction</a></li>
                            <li><a href="">Jardinage & bricolage</a></li>
                            <li><a href="">Réparation & maintenance</a></li>
                            <li><a href="">Informatique & administratif</a></li>
                            <li><a href="">Cours & coaching</a></li>
                            <li><a href="">Evènements & divertissements</a></li>
                        </ul>
                        <ul class="ps-0">
                            <li><a href="">Santé & bien-être</a></li>
                            <li><a href="">Animaux</a></li>
                            <li><a href="">Artisanat & création</a></li>
                            <li><a href="">Garde d'enfants</a></li>
                            <li><a href="">Autre</a></li> 
                        </ul>                        
                    </div>

                </div>
                <div class="col-12 col-lg-2">
                    <h3 class="footer-element__mobile--hidden">Liens rapides</h3>
                    <ul class="ps-0">
                        <li class="footer-element__mobile--hidden"><a href="">Qui sommes-nous ?</a></li>
                        <li class="text-center text-lg-start mt-5 mt-lg-0"><a  href="">Nous contacter</a></li>
                        <li class="footer-element__mobile--hidden"><a href="">Les offres</a></li>
                        <li class="footer-element__mobile--hidden"><a href="">Les demandes</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-2 footer-element__mobile--hidden">
                    <h3>Contact</h3>
                    <ul class="ps-0">
                        <li><i class="fa-solid fa-phone-volume footer-element__icon--white"></i>&nbsp; 03 67 67 67</li>
                        <li><i class="fa-solid fa-envelope footer-element__icon--white"></i>&nbsp; do4u@gmail.com</li>
                        <li><i class="fa-solid fa-map footer-element__icon--white"></i>&nbsp; 109 rue ABC, Strasbourg, France</li>
                    </ul>
                </div>            
            </div>
        </section>   
        <div class="footer-element__divider"></div>
        <section class="container">
            <div class="d-flex flex-column text-center text-lg-start flex-lg-row justify-content-lg-between mb-0 footer-element__infos">
                <ul class="d-flex flex-column flex-lg-row ps-0 mb-0 mt-2 gap-3">
                    <li><a href="">Conditions générales d'utilisation</a></li>
                    <li><a href="">Mentions légales</a></li>
                </ul>
                <p class="mb-0 mt-2">&copy; 2023, Do4U Inc. Tous droits réservés.</p>
            </div>                
        </section>         
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../public/js/script.js"></script>
</body>
</html>